<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SERGIO_PC" connectionString="Data Source=.\development;Initial Catalog=Northwind;Trusted_Connection=True;Integrated Security=SSPI;"/>
    <add name="ALIEN_PC" connectionString="Data Source=.\development;Initial Catalog=Northwind;Trusted_Connection=True;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>